:root {
	--background: ##fff;
	--color: #000;
	font-size: 16px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--background);
}
h1 {
	color: var(--background);
}
.game-container {
	width: 30vw;
	height: 50vh;
	border: 1px solid var(--background);
	border-radius: 12px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: var(--color);
}
.cell {
	border: 1px solid var(--background);
	text-align: center;
	font-size: 4rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text {
	font-size: 1.5rem;
	color: var(--color);
}
.restart {
	padding: 10px 20px;
	border-radius: 6px;
	border: 1px solid var(--color);
	background: var(--white);
	font-size: 1.2rem;
	color: var(--color);
}

/* responsive design */
@media (max-width: 900px) {
	.game-container {
		width: 50vw;
	}
}
@media (max-width: 500px) {
	.game-container {
		height: 50vw;
	}
	.cell {
		font-size: 2rem;
	}
	.text {
		font-size: 1.2rem;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: #000;
		--color: #fff;
	}
}
